<!DOCTYPE html>

<html>
  <head>
    <title>WeCare - Donate</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <noscript
      ><link rel="stylesheet" href="/assets/css/noscript.css"
    /></noscript>
    <link rel="shortcut icon" href="/assets/favicons/favicon-32x32.png" />
  </head>
  <body class="is-preload">
    <!-- Page Wrapper -->
    <div id="page-wrapper">
      <!-- Header -->
      <header id="header">
        <a href="/"> <h1>We Cover</h1></a>
        <nav id="nav">
          <ul>
            <li class="special">
              <a href="#menu" class="menuToggle"><span>Menu</span></a>
              <div id="menu">
                <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/user/approve">Approve</a></li>
                  <li><a href="/user/redeem"> Redeem </a></li>
                  <li><a href="/user/nft"> NFT Market </a></li>
                </ul>
              </div>
            </li>
          </ul>
        </nav>
      </header>

      <!-- Main -->
      <article id="main">
        <header>
          <h2>AVAIL</h2>
          <p>
            Our Aim Is To Channelise The Goodness Into One <br />
            Because We Got You 'Covered'!
          </p>
        </header>
        <section class="wrapper style5">
          <div class="inner">
            <div class="cards">
              <div class="cards">
                <img src="/images/shirt.jpg" alt="" class="card__image" />
                <div class="card__content">
                  Donor Name: Ananyaa <br />
                  Location: Noida <br />
                  Clothing Type: TShirt <br />
                  Size: L <br />
                  <a href="/user/order" style="color: green">Place Order</a>
                </div>
              </div>
            </div>

            <div class="cards">
              <div class="cards">
                <img src="/images/shirt2.jpg" alt="" class="card__image" />
                <div class="card__content">
                  Donor Name: Bhavya <br />
                  Location: Kolkata <br />
                  Clothing Type: T-Shirt <br />
                  Size: M <br />
                  <a href="/user/order" style="color: green">Place Order</a>
                </div>
              </div>
            </div>

            <div class="cards">
              <div class="cards">
                <img src="/images/shirt3.jpg" alt="" class="card__image" />
                <div class="card__content">
                  Donor Name: Manya <br />
                  Location: Kolkata <br />
                  Clothing Type: Shirt <br />
                  Size: S <br />
                  <a href="/user/order" style="color: green">Place Order</a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </article>

      <!-- Footer -->
      <footer id="footer">
        <ul class="icons">
          <li>
            <a href="#" class="icon brands fa-twitter"
              ><span class="label">Twitter</span></a
            >
          </li>
          <li>
            <a href="#" class="icon brands fa-facebook-f"
              ><span class="label">Facebook</span></a
            >
          </li>
          <li>
            <a href="#" class="icon brands fa-instagram"
              ><span class="label">Instagram</span></a
            >
          </li>
          <li>
            <a href="#" class="icon brands fa-dribbble"
              ><span class="label">Dribbble</span></a
            >
          </li>
          <li>
            <a href="#" class="icon solid fa-envelope"
              ><span class="label">Email</span></a
            >
          </li>
        </ul>
      </footer>
    </div>

    <!-- Scripts -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/jquery.scrollex.min.js"></script>
    <script src="/assets/js/jquery.scrolly.min.js"></script>
    <script src="/assets/js/browser.min.js"></script>
    <script src="/assets/js/breakpoints.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <script src="/assets/js/main.js"></script>
  </body>
</html>
