<!DOCTYPE HTML>

<html>
	<head>
		<title> We Cover</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
    <link rel="shortcut icon" href="/assets/favicons/favicon-32x32.png" />

	</head>
	<body class="landing is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="/">We Cover</a></h1>
						
					</header>

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2> We Cover</h2>
							<p>The simplest acts of kindness are by far more powerful </br>
								than a thousand heads bowing in prayer<br />
							
							</p>
						</div>
						<a href="#one" class="more scrolly">Learn More</a>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style1 special">
						<div class="inner">
							<header class="major">
								<h2> Make The Biggest Fashion Statement<br />
									By Donating Clothes</h2>
								<p> <br />
								Give your clothes and someone in need a second life <br>
								Because your little act of kindnes can help someone survive a chilly winter</p>
							</header>
							
						</div>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper alt style2">
						<section class="spotlight">
							<div class="image"><img src="../images/img1.jpg" alt="" /></div><div class="content">
								<h2> Our Aim</h2>
								<p> We aim at providing a medium for privileged to donatate their clothes to those who need it,
								at the same time promoting local vendors and also benefits for the donors.
								</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="../images/img2.jpg" alt="" /></div><div class="content">
								<h2> Get Rewards</h2>
								<p> For every donation you get 5 credits. Once you reach 100 credits those can be exchanged for discount coupons.</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="../images/img3.jpg" alt="" /></div><div class="content">
								<h2> Promoting Local Business </h2>
								<p> The coupons will fetch you discounts thus also promoting local business.</p>
							</div>
						</section>
					</section>

				<!-- Three -->
					<section id="three" class="wrapper style3 special">
						<div class="inner">
							<header class="major">
								<h2> Yes! You can make a difference in our society</h2>
								<p> By giving clothes you will not cover someone's heart<br />
								but also you will be helping the local business to flourish. <br>
							   But Hey! There is something in it for you too <br>
							   You can shop for some new clothes and exchange your coupons to avail great discounts.</p>
							</header>
							<ul class="features">
								<form action="/auth/login" method="POST">
									<label for = 'type'> Choose whether to Donate/Avail</label>
									<select id = 'type' name='type'>
									<option value="user">Donate</option>
									<option value="ngo">Avail</option>
								    </select>
									<label for = 'email'> Enter Email</label>
									<input type = 'email' placeholder = 'username' id ='email' name="email">
									<label for = 'password'> Enter Password</label>
									<input type = 'password' placeholder = 'password' id = 'password' name="password"><br>
									<input type="submit">  </input>
									<br> <br> New User? <a href="/auth/signup"> Sign Up</a>
								</form>
							</ul>
						</div>
					</section>

				<!-- CTA -->
					<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2> It's not how much we give but how much love we put into giving</h2>
								<p> Be The Change You Want To See In The Society<br>
								Make World A Better Place To Live <br>
							    Donate Now!</p>
							</header>
						</div>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
							<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
						</ul>
				
					</footer>

			</div>

		<!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/jquery.scrollex.min.js"></script>
			<script src="../assets/js/jquery.scrolly.min.js"></script>
			<script src="../assets/js/browser.min.js"></script>
			<script src="../assets/js/breakpoints.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<script src="../assets/js/main.js"></script>

	</body>
</html>