<!DOCTYPE html>

<html>
  <head>
    <title>WeCare - Donate</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <noscript
      ><link rel="stylesheet" href="/assets/css/noscript.css"
    /></noscript>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/x-icon"
      sizes="32x32"
      href="/favicons/favicon.ico"
    />
    <link
      rel="icon"
      type="image/x-icon"
      sizes="16x16"
      href="/favicons/favicon-16x16.png"
    />
    <link rel="manifest" href="/favicons/site.webmanifest" />
  </head>
  <body class="is-preload">
    <!-- Page Wrapper -->
    <div id="page-wrapper">
      <!-- Header -->
      <header id="header">
        <h1>We Cover</h1>
      </header>

      <!-- Main -->
      <article id="main">
        <header>
          <h2>AVAIL</h2>
          <p>
            Our Aim Is To Channelise The Goodness Into One <br />
            Because We Got You 'Covered'!
          </p>
        </header>
        <section class="wrapper style5">
          <div class="inner">
            <div class="cards">
              <div class="cards">
                <img src="/images/img1.jpg" alt="" class="card__image" />
                <div class="card__content">
                  Clothing Type: Shirt <br />
                  Size: L <br />
                  Avail
                </div>
              </div>
            </div>

            <div class="cards">
              <div class="cards">
                <img src="/images/img1.jpg" alt="" class="card__image" />
                <div class="card__content">
                  Clothing Type: Shirt <br />
                  Size: L <br />
                  Avail
                </div>
              </div>
            </div>

            <div class="cards">
              <div class="cards">
                <img src="/images/img1.jpg" alt="" class="card__image" />
                <div class="card__content">
                  Clothing Type: Shirt <br />
                  Size: L <br />
                  Avail
                </div>
              </div>
            </div>
          </div>
        </section>
      </article>

      <!-- Footer -->
      <footer id="footer">
        <ul class="icons">
          <li>
            <a href="#" class="icon brands fa-twitter"
              ><span class="label">Twitter</span></a
            >
          </li>
          <li>
            <a href="#" class="icon brands fa-facebook-f"
              ><span class="label">Facebook</span></a
            >
          </li>
          <li>
            <a href="#" class="icon brands fa-instagram"
              ><span class="label">Instagram</span></a
            >
          </li>
          <li>
            <a href="#" class="icon brands fa-dribbble"
              ><span class="label">Dribbble</span></a
            >
          </li>
          <li>
            <a href="#" class="icon solid fa-envelope"
              ><span class="label">Email</span></a
            >
          </li>
        </ul>
      </footer>
    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
